fastapi==0.115.12
h5py==3.13.0
keras==2.15.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.1.0
scikit-learn==1.6.1
starlette==0.46.1
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tf_keras==2.15.1
uvicorn==0.34.0
websockets==15.0.1